{% extends "base.html" %}
{% block content %}

        <!-- Header-->
        <header class="masthead d-flex align-items-center">
            <div class="container px-4 px-lg-5 text-center">
                <h1 class="mb-1">Enviar Factos</h1>
                <h3 class="mb-5"><em>Aqui, o utlizador pode escrever e enviar factos que ache interessantes e aparecerão na página</em></h3>
                <a class="btn btn-primary btn-xl" href="#factosen">Find Out More</a>
            </div>
        </header>
        <!-- About-->



{% endblock %}